{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Council{% endblock title %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/styles.css' %}">
{% endblock css %}
{% block content %}
<div class="container mt-5">
    <h1 class="display-4">The Class Council</h1>
    <p class="lead">We are here to serve you.</p>
</div>
<hr>
<div class="container">
    <h2 class="display-6">Our Mission</h2>
    <p>As the 2023 Class Council, our mission is to make sure that all of your voices are heard, because we want to plan events that you want. We strive to work seamlessly with you, and this year, we're increasing our transparency efforts even more. Together, we will the class to beat!</p>
</div>
<hr>
<div class="council">
    <h2 class="text-center">Our Team</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/vinay.png' %}" class="photo">
                <div class="details">
                    <h3><b>The President</b></h3>
                    <p><a>Vinay Ayala</a></p>
                    <i>“Live life to the fullest.”</i>

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/chinmay.png' %}" class="photo">
                <div class="details">
                    <h3><b>The Vice President</b></h3>
                    <p><a>Praneeth Chinmay Bhandaru</a></p>
                    <i>“You don't need to be a potato to be good in life, all you need to do is trust yourself.”</i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/grace.png' %}" class="photo">
                <div class="details">
                    <h3><b>The Treasurer</b></h3>
                    <p><a>Grace Guan</a></p>
                    <i>“I'm excited to serve again as a member of your class clowncil!”</i>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/christina.png' %}" class="photo">
                <div class="details">
                    <h3><b>The Secretary</b></h3>
                    <p><a>Christina Han</a></p>
                    <i>“I keep no secrets”</i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/rushil.png' %}" class="photo">
                <div class="details">
                    <h3><b>The Senator</b></h3>
                    <p><a>Rushil Umaretiya </a></p>
                    <i>“Just failed his chem test, again.”</i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/yulee.png' %}" class="photo">
                <div class="details">
                    <h3><b>The Senator</b></h3>
                    <p><a>Yulee Kang</a></p>
                    <i>“Is a Cutie :)”</i>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/katelyn.png' %}" class="photo">
                <div class="details">
                    <h3><b>The Historian</b></h3>
                    <p><a>Katelyn Chen</a></p>
                    “&#127345;&#65039;&#127358;&#65039;&#128200;&#127883;”
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/stern.jpg' %}" class="photo">
                <div class="details">
                    <h3><b>The Sponsor</b></h3>
                    <p><a>Mx. Stern</a></p>
                    <i></i>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="person">
                <img src="{% static 'pages/css/img/wickliff.jpg' %}" class="photo">
                <div class="details">
                    <h3><b>The Sponsor</b></h3>
                    <p><a>Mr. Wickliff</a></p>
                    <i></i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
