{% extends 'pages/base.html' %}
{% load static %}
{% block title %}Events{% endblock title %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/styles.css' %}">
<style>

</style>
{% endblock css %}
{% block content %}
<div class="container mt-5">
<h1 class="display-4">Events</h1>
<p class="lead">Come and join your friends!</p>
</div>
<div class="container">
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%2300044a&amp;ctz=America%2FNew_York&amp;src=dGpoc3N0MjAyM0BnbWFpbC5jb20&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23039BE5&amp;color=%230B8043" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
{% endblock content %}

