@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,500';
@import 'https://fonts.googleapis.com/css?family=Josefin+Slab:700';
@import 'https://fonts.googleapis.com/css?family=Arapey:400,600';
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');


html {
  overflow-x: hidden;
}

.person {
    text-align: center;
    margin: 20px;
}

.card-img-top {
  width: 100%;
  height: 12vw;
  object-fit: cover;
}

.photo {
    width: 300px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 12px 12px rgb(0, 0, 0, 0.1), -12px -12px rgb(0, 0, 0, 0.3);
}

.details p a {
    font-size: 25px;
}

.border-sides {
    border: 0px !important;
    border-left: 1px solid gray !important;
    border-right: 1px solid gray !important;
    border-radius: 0px;
}

nav {
  z-index: 10;
}

.animated-navbar {
  transform: translateY(-70px);
  animation: nav-slide 0.75s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes nav-slide {
  0% {
       transform: translateY(-70px);
  }

  100% {
       transform: translateY(0px);
  }
}


.jumbotron {
  position: relative;
  transform: translateY(-70px);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url('img/hero.png');
  background-repeat: no-repeat;
  background-position: left bottom;
}

.hero-text {
  margin-top: 25vh;
  mix-blend-mode: exclusion;
  color: white;
}

.home {
    font-weight: bold;
    text-align: center;
    background-color: rgb(255, 255, 255, 0.85);
}

body {
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  margin: 0px;
  display: flex;
  flex-direction: column;
  color: #444;
}

/* mobile styles */

@media (max-width: 768px) {
  .hero-text {
    margin-top: 10vh;
    mix-blend-mode: unset;
    color: inherit;
  }

  .no-mobile {
    display: none;
    pointer-events: none;
  }
}